.header {
    height: 60px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001529;
    color: #fff;
}

.headerTitle {
    font-weight: bold;
    font-size: 20px;
}
